<div class="section-info">
    <b>
        <%= event.eventable.deal.title.upcase %> : 
        <%= event.eventable.traverse_up_to(Category).try(:name).gsub("Category", '').try(:upcase) %> : 
        <%= event.eventable.traverse_up_to(Section).try(:name).try(:upcase) %>
    </b> 
    <%= event.eventable.traverse_up_to(Task).title %>
</div>
<div class="section-details">
    <div class="section-details__attachment">
        <div class="attachment-item item-file">
            <i></i><a href="#"><%= event.eventable.document.title %></a>
        </div>
    </div>
</div>