<div role="tabpanel" class="tab-pane active" id="tab-deal-overview"> <!-- -->
    <div class="container-fluid">
        <div class="row">
            <div class="deal-overview-statistic">
                <div class="statistic-box__item item-small">
                    <i><%= @deal.documents.count %></i><span>DOCUMENTS</span>
                </div>
                <div class="statistic-box__item item-small">
                    <i><%= @deal.comments.count %></i><span>COMMENTS</span>
                </div>
                <div class="statistic-box__item item-big">
                    <i><%= @deal.projected_close_date.strftime("%m/%d/%y") %></i><span>PROJECTED CLOSE DATE</span>
                </div>
                <div class="statistic-box__item item-big">
                    <div class="statistic-box__mini-wrapper">
                        <div class="statistic-box__mini-item">
                            <div class="title">Diligence Tasks Completed <strong><%= @deal.tasks.diligence.complete.count %>/<%= @deal.tasks.diligence.count %></strong></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="<%= @deal.diligence_completion_percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @deal.diligence_completion_percent %>%;">
                                    <span class="sr-only"><%= @deal.diligence_completion_percent %>% Complete</span>
                                </div>
                            </div>
                        </div>

                        <div class="statistic-box__mini-item">
                            <div class="title">Closing Tasks Completed <strong><%= @deal.tasks.closing.complete.count %>/<%= @deal.tasks.closing.count %></strong></div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="<%= @deal.closing_completion_percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @deal.closing_completion_percent %>%;">
                                    <span class="sr-only"><%= @deal.closing_completion_percent %>% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="content-left">
                <% @deal.events.first(15).each do |event| %>
                    <%= render 'app/shared/event', event: event %>
                <% end %>
            </div>
            <div class="content-right">
                <%= render 'app/shared/panels/users', users: @deal.organization_users, title: 'COLLABORATORS' %>
                <%= render 'app/shared/panels/files', files: @deal.recently_updated_files, title: 'RECENTLY UPDATED FILES' %>
            </div>
        </div>
    </div>
</div> <!-- tab panel Overview End -->
