<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <div class="navbar-side-top">
      <div class="center-logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.svg" %>
        <% end %>
      </div>
    </div>
    <ul class="nav" id="side-menu">
      <li class="<%= 'active' if controller_name == 'dashboard' %>">
        <%= link_to app_dashboard_path do %>
          <i class="icon-icon-dashboard"></i> Dashboard
        <% end %>
      </li>
      <li class="<%= 'active' if controller_name == 'deals' %>">
         <%= link_to app_deals_path do %>
            <i class="icon-icon-document"></i> Deals
          <% end %>
      <li class="<%= 'active' if controller_name == 'reports' %>">
        <%= link_to app_report_path do %>
          <i class="icon-icon-barchart"></i> Report
        <% end %>
      </li>
      <li class="<%= 'active' if controller_name == 'team_members' %>">
        <%= link_to app_team_members_path do %>
          <i class="icon-icon-users"></i> Team</a>
        <% end %>
      </li>
    </ul>
    <div class="deals-side-panel">
      <h2>STARRED DEALS</h2>
      <ul class="nav">
        <%= react_component "StarredDealList", props: {deals: @starred_deals} %> 
      </ul>
    </div>
  </div>
</nav>
