<nav class="navbar navbar-static-top" role="navigation">
  <div class="navbar-brand">
    <%= title %>
    <%= yield :navbar_brand %>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown dropdown-alerts">
      <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="icon-icon-notifications"></i> <span class="notifications-enabled"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-envelope fa-fw"></i> You have 16 messages
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-upload fa-fw"></i> New files uploaded
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <div class="text-center link-block">
            <a href="notifications.html">
              <strong>See All Alerts</strong>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </li>
      </ul>
    </li>
    <li class="dropdown dropdown-user">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <% unless current_user.avatar.file.nil? %>
          <%= image_tag current_user.avatar.url, class: 'img-circle navbar-avatar' %>
        <% else %>
          <span class="img-circle navbar-avatar initials"><%= "#{current_user.initials}"%></span>
        <% end %>
        <span><%= current_user.name %></span> <i class="icon-icon-navigate-down"></i>
      </a>
      <ul class="user-nav dropdown-menu">
        <li >
          <a href="/app/settings">Settings</a>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_app_user_session_path, method: :delete %>
        </li>
      </ul>
    </li>
  </ul>
  <%= yield :navbar_bottom %>
</nav>
